// main: ../main.less
// .profile
.profile {
  display: flex;
  align-items: center;

  &_content {
    margin-bottom: 27px;
  }

  &_link {
    cursor: pointer;

    &:hover,
    &:focus {
      .profile__menu_link {
        display: block;
      }
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // cursor: pointer;

    &:before {
      content: normal;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: @color__hinted;
      position: absolute;
      top: 0;
      left: 0;
    }

    &_link {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      flex-shrink: 0;
      margin-right: 9px;

      &:before {
        content: normal;
      }
    }
  }

  &__content {
    &_link {
      position: relative;
      line-height: 20px;
      padding-right: 21px;

      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('../image/arrow__down_light.svg');
        background-size: contain;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  &__caption {
    .ui__text_secondary;
    color: @color__font_inverted;
    position: relative;
  }

  &__name {
    * {
      margin: 0;
    }

    &_link {
      color: @color__font_inverted;
    }
  }

  &__position {
    &_link {
      .ui__text_secondary;
      color: fade(#FFFFFF, 64%);
    }
  }

  &__menu {
    &_link {
      position: absolute;
      right: 4px;
      top: calc(~"100% - 8px");
      display: none;
    }
  }
}

// #profile